<%#
    Job listing layout
    - details of a position we're hiring for
%>

<% wrap_layout :layout do %>
  <%# header %>
  <%= component 'main_header' %>

  <article class="margin-bottom-xwide padding-y-wide padding-x-outside">
    <% component 'wrapper', locals: { width: 'narrow' } do %>

      <!-- title and posted date -->
      <header class="padding-bottom t-align-center">
  	    <h1 class="t-scale-beta"><%= current_page.data.title %></h1>
        <p class="padding-top-xnarrow t-scale-zeta t-heading c-text-secondary">
          Posted
          <strong>
            <time datetime="<%= current_page.data.posted %>">
              <%= current_page.data.posted.strftime("%B %d, %Y") %>
            </time>
          </strong>
        </p>
    	</header>

      <div class="t-content"><%= yield %></div>

      <!-- contact CTA -->
      <footer class="padding-top margin-top border-top">
        <h2 class="t-scale-gamma padding-bottom-narrow"><%= data.site.contact.careers.call_to_action %></h2>
        <div data-ui-gutter="flush narrow">
          <!-- Email button -->
          <div data-ui-gutter-item class="display-inline-block">
            <%= component 'button_link', locals: { label: 'Send us your resume', url: "mailto:#{data.site.contact.careers.email}" } %>
          </div>
          <p data-ui-gutter-item class="display-inline-block t-scale-zeta c-text-secondary"><%= data.site.contact.careers.email %></p>
        </div>
      </footer>
    <% end %>
  </article>
<% end %>
