<%# header %>
<%= component 'main_header' %>

<main class="padding-bottom-xwide padding-top-wide padding-x-outside">
  <% component 'wrapper', locals: {
    width: 'narrow',
  } do %>

    <header class="padding-bottom t-align-center">
      <h1 class="t-font-display t-leading-xtight padding-bottom-narrow">Join our team</h1>
      <h2 class="t-scale-gamma padding-bottom c-highlight t-weight-normal">Imagine tackling big, global issues with a diverse team of experts.</h2>
      <p class="t-scale-epsilon no-margin c-text-secondary">We work with some of the world's most recognizable development organizations such as the World Bank, United Nations to solve climate, health, education and other challenges through design.</p>
    </header>
  <% end %>
</main>

<main class="padding-bottom-xwide padding-top-wide padding-x-outside border-top">
  <% component 'wrapper', locals: {
    width: 'wide',
    classes: 'padding-y-between-wide'
  } do %>

  <h2 class="t-align-center t-leading-xtight padding-bottom-narrow">Open positions</h2>

    <% sitemap.resources.select{ |page| page.path.include?('careers') && page != current_page }.each do |listing| %>
      <article>
        <!-- title and posted date -->
        <header class="padding-bottom border-">
          <h3 class="t-scale-gamma c-highlight"><%= listing.data.title %></h3>
        </header>
        <div class="t-content"><%= listing.render layout: false %></div>

        <!-- contact CTA -->
        <footer class="padding-top padding-bottom border-bottom margin-bottom">
          <div data-ui-gutter="flush narrow">
            <!-- Email button -->
            <div data-ui-gutter-item class="display-inline-block">
              <%= component 'button_link', locals: { label: 'Apply on LinkedIn', url: listing.data.link, classes: 'small' } %>
            </div>
          </div>
        </footer>
      </article>
    <% end %>
  <% end %>
</main>
<main class="padding-bottom-xwide padding-top-wide padding-x-outside no-margin c-theme-wash">
    <% component 'wrapper', locals: {
      width: 'narrow',
    } do %>
  <h2 class="t-align-center t-leading-xtight padding-bottom-narrow padding-top-xwide">Don't see a position<br />that fits you?</h2>
  <h3 class="t-align-center t-scale-gamma padding-bottom c-highlight t-weight-normal">We still want to hear from you!</h3>
  <p class="t-align-center t-scale-epsilon no-margin c-text-secondary padding-bottom-xwide">Send us your CV and Cover Letter and share with us <br/> some <strong>great ideas</strong> you can bring to our team.</p>
  <div data-ui-gutter-item class="t-align-center">
    <%= component 'button_link', locals: { label: 'careers@host-creative.com', url: 'mailto:careers@host-creative.com', classes: 'small' } %>
  </div>
  <% end %>
</main>
