<%# header %>
<%= component 'main_header' %>

<main class="padding-bottom-xwide padding-top-wide padding-x-outside">
  <% component 'wrapper', locals: {
    width: 'narrow',
    classes: 'padding-y-between-wide'
  } do %>

    <% sitemap.resources.select{ |page| page.path.include?('careers') && page != current_page }.each do |listing| %>
      <article>
        <!-- title and posted date -->
        <header class="padding-bottom t-align-center">
          <h1 class="t-scale-beta"><%= listing.data.title %></h1>
          <p class="padding-top-xnarrow t-scale-zeta t-heading c-text-secondary">
            Posted
            <strong>
              <time datetime="<%= listing.data.posted %>">
                <%= Time.parse(listing.data.posted.to_s).strftime("%B %d, %Y") %>
              </time>
            </strong>
          </p>
        </header>
        <div class="t-content"><%= listing.render layout: false %></div>
      </article>
    <% end %>
  <% end %>
</main>
