<%# header %>
<%= component 'main_header' %>

<main class="padding-bottom-xwide padding-top-wide padding-x-outside">
  <% component 'wrapper', locals: {
    width: 'narrow',
    classes: 'padding-y-between-wide'
  } do %>

    <% sitemap.resources.select{ |page| page.path.include?('careers') && page != current_page }.each do |listing| %>
      <article>
        <!-- title and posted date -->
        <header class="padding-bottom t-align-center">
          <h1 class="t-scale-beta"><%= listing.data.title %></h1>
        </header>
        <div class="t-content"><%= listing.render layout: false %></div>

        <!-- contact CTA -->
        <footer class="padding-top margin-top border-top">
          <h2 class="t-scale-gamma padding-bottom-narrow"><%= data.site.contact.careers.call_to_action %></h2>
          <div data-ui-gutter="flush narrow">
            <!-- Email button -->
            <div data-ui-gutter-item class="display-inline-block">
              <%= component 'button_link', locals: { label: 'Send us your resume', url: "mailto:#{data.site.contact.careers.email}" } %>
            </div>
            <p data-ui-gutter-item class="display-inline-block c-text-secondary"><%= data.site.contact.careers.email %></p>
          </div>
        </footer>
      </article>
    <% end %>
  <% end %>
</main>
