---
title: home
---

<div class="position-relative">
  <%= component 'main_header', locals: {
    overlay: true,
    theme: 'dark'
  } %>
  <section class="t-align-center">
    <!-- Cover -->
    <% component 'cover', locals: {
      padding: { y: 'xxwide', x: 'outside' },
      header_offset: true,
      theme: 'dark',
      classes: "c-bg-triangles"
    } do %>
      <% component "wrapper", locals: {
        width: "default"
      } do %>
        <%= component "tagline" %>
      <% end %>
    <% end %>

    <!-- Intro blurb -->
    <div class="padding-x-outside padding-y-xwide">
      <% component 'wrapper', locals: {
        width: 'narrow'
      } do %>
        <div class="t-content t-scale-epsilon t-align-left">
          <%= render_markdown(data.site.cover.intro) %>
        </div>
        <%#= component 'button_link', locals: { label: 'More about us', url: 'design_thinking', classes: 'margin-top-wide', icon: 'arrow-right' } %>
      <% end %>
    </div>
  </section>

  <!-- Work -->
  <% component 'panel' do %>
    <% component 'blurb', locals: { heading: data.work.headline.home, borders: 'none' } do %>
      <%= render_markdown(data.work.intro) %>
    <% end %>
    <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center padding-top-xwide' } do %>
      <!-- Case study listings -->
      <%= component 'projects_list', locals: { projects: data.work.projects[0...data.work.featured_projects] } %>

      <%# this button appears when there's more than 3 case studies to display %>
      <%= component 'button_link', locals: {
        label: 'See more of our work',
        url: '/work',
        classes: 'margin-top-wide'
      } if (data.work.projects.length > 3) %>
    <% end %>
  <% end %>
</div>
