---
title: home
---
<div class="position-relative">
  <%= component "main_header", locals: {
    overlay: true,
    theme: "wash",
    hide_logo: "medium"
  } %>
  <section class="t-align-center">
    <!-- Cover -->
    <% component "cover", locals: {
      padding: { y: "wide", x: "outside" },
      theme: "wash"
    } do %>
      <% component "wrapper", locals: {
        width: "wide"
      } do %>
        <div data-ui-columns="30-70@medium">
          <div
            data-ui-columns-item="left"
            class="hide-below@medium t-align-left"
            style="padding-top: 0.4em;"
          >
            <%= component "host-logo", locals: { width: 5 } %>
          </div>
          <div data-ui-columns-item="right">
            <%= component "tagline" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>

  <!-- Logo wall and intro -->
  <% component "panel", locals: {
    border: "none",
    theme: "default",
    id: "intro",
    padding: {
      x: "outside"
    }
  } do %>
    <% component "wrapper", locals: { width: "wide" } do %>
      <div data-ui-columns="50-50@medium" data-ui-gutter="flush">
        <section
          data-ui-columns-item="right"
          data-ui-gutter-item
          class="padding-y-xwide"
        >
          <% component "wrapper", locals: { width: "narrow" } do %>
            <h2 class="t-scale-gamma">We're a <strong>group of experts</strong> who love to work with clients and partners that share our dedication to <strong>making an impact</strong>.</h2>
            <div class="t-content padding-top">
              <p>We're headquartered in Washington D.C., with teams distributed globally. We've launched programs, brands, and products for the World Bank Group, UN Agencies, USAID, CDC, and more.</p>
            </div>
          <% end %>
        </section>
        <div
          data-ui-columns-item="left"
          data-ui-gutter-item
          class="padding-y-xwide"
        >
          <ul data-ui-gallery="small">
            <% (1...12).each do |logo| %>
              <li data-ui-gallery-item>
                <%= component "fluid_aspect_image", locals: {
                  source: "https://placehold.it/1000x444",
                  alt: "logo"
                } %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>

  <!-- Work -->
  <% component "panel", locals: {
    border: "none",
    id: "work",
    padding: "none"
  } do %>
    <h2 class="t-scale-epsilon t-align-center padding-bottom-narrow">Our work</h2>
    <!-- Case study listings -->
    <ul class="list-undecorated border-y-between">
      <% (1...4).each do |project| %>
        <li class="display-block no-margin c-theme-dark">
          <article data-ui-columns="50-50@small">
            <div data-ui-columns-item="left" class="padding-x-outside padding-y-wide">
              <% component "wrapper", locals: { width: "narrow" } do %>
                <h3 class="t-scale-beta t-font-display t-leading-xtight">
                  Awesome project title lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </h3>
                <p class="t-heading t-scale-delta padding-top-narrow c-highlight t-weight-normal">
                  Client name lorem ipsum
                </p>
                <%= component "button_link", locals: {
                  label: "Read more",
                  url: "#",
                  icon: "arrow-right",
                  classes: "margin-top-wide"
                } %>
              <% end %>
            </div>
            <div data-ui-columns-item="right">
              <%= component "fluid_aspect_image", locals: {
                source: "https://placehold.it/1500x1500",
                alt: "project poster",
                ratio: "2x1",
                bg_size: "cover",
                fill: true
              } %>
            </div>
          </article>
        </li>
      <% end %>
    </ul>

    <aside class="c-theme-dark padding-x-outside padding-top-xwide padding-bottom-wide border-top">
        <% component "wrapper" do %>
          <div
            data-ui-columns="30-70@small"
            data-ui-gutter="flush"
            style="overflow: visible;"
          >
            <div
              data-ui-columns-item="left"
              data-ui-gutter-item
            >
              <h2 class="t-scale-delta t-align-center" style="margin-top: -1rem;">
                <strong class="t-scale-alpha t-weight-bold c-highlight">100&plus;</strong><br>
                Assignments
              </h2>
            </div>
            <div
              data-ui-columns-item="right"
              data-ui-gutter-item
              class="t-content"
            >
              <p>For the better part of a decade, we have helped some of the world’s most recognizable organizations build and launch products time and time again.</p>
            </div>
          </div>
        <% end %>
      <%# this button appears when there"s more than 3 case studies to display %>
      <% if (data.work.projects.length > data.work.featured_projects) %>
        <div class="t-align-center padding-top">
          <%= component "button_link", locals: {
            label: "See more of our work",
            url: "/work",
            icon: "arrow-right"
          }  %>
        </div>
      <% end %>
    </aside>
  <% end %>
</div>
