---
title: home
---

<div class="position-relative">
  <%= component 'main_header', locals: {
    overlay: true,
    theme: 'dark'
  } %>
  <section class="t-align-center">
    <!-- Cover -->
    <% component 'cover', locals: {
      padding: { y: 'xxwide', x: 'outside' },
      header_offset: true,
      theme: 'dark',
      classes: "c-bg-triangles"
    } do %>
      <!-- Main logo -->
      <%#= image_tag "logos/logo-host-reverse.svg",
        data: { 'ui-logo': '' },
        class: 'padding-bottom-narrow',
        alt: 'Host'
      %>
      <% component "wrapper", locals: {
        width: "default"
      } do %>
        <%= component "tagline" %>
      <% end %>
    <% end %>

    <!-- Intro blurb -->
    <div class="padding-x-wide padding-y-xwide">
      <% component 'wrapper', locals: {
        width: 'narrow'
      } do %>
        <p class="t-scale-epsilon"><%= data.site.cover.intro %></p>
        <%= component 'button_link', locals: { label: 'More about us', url: 'design_thinking', classes: 'margin-top-wide' } %>
      <% end %>
    </div>
  </section>

  <!-- Work -->
  <% component 'panel' do %>
    <% component 'blurb', locals: { heading: data.work.headline.home, borders: 'none' } do %> <%= data.work.intro %>
    <% end %>
    <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center padding-top-xwide' } do %>
      <!-- Case study listings -->
      <%= component 'projects_list', locals: { projects: data.work.projects[0...data.work.featured_projects] } %>

      <%# this button appears when there's more than 3 case studies to display %>
      <%= component 'button_link', locals: {
        label: 'See more of our work',
        url: '/work',
        classes: 'margin-top-wide'
      } if (data.work.projects.length > 3) %>
    <% end %>
  <% end %>

  <!-- Staff -->
  <% component 'panel', locals: {
    theme: 'light',
    painted: true
  } do %>
    <h2 class="t-scale-alpha t-align-center"><%= data.people.headline.home %></h2>
    <!-- list of staff photos -->
    <% component 'wrapper', locals: {
      width: 'wide',
      padding: { top: 'wide' },
      classes: 't-align-center'
    } do %>
      <%= component 'people_list', locals: { group: find_people } %>
      <%#= component 'button_link', locals: {
        label: 'Meet the rest of the team',
        url: '/people',
        classes: 'margin-top-wide'
      } %>
    <% end %>
  <% end %>
</div>
