---
title: home
---
<div class="position-relative">
  <%= component "main_header", locals: {
    overlay: true,
    theme: "wash",
    hide_logo: "medium"
  } %>
  <section class="t-align-center">
    <!-- Cover -->
    <% component "cover", locals: {
      padding: { y: "wide", x: "outside" },
      theme: "wash"
    } do %>
      <% component "wrapper", locals: {
        width: "wide"
      } do %>
        <div data-ui-columns>
          <div
            data-ui-columns-item="left"
            class="hide-below@medium t-align-left"
            style="padding-top: 0.4em;"
          >
            <%= component "host-logo", locals: { width: 5 } %>
          </div>
          <div data-ui-columns-item="right">
            <%= component "tagline" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>

  <!-- Work -->
  <% component "panel", locals: { border: "none", theme: "dark", id: "work" } do %>
    <% component "wrapper", locals: { width: "wide", classes: "t-align-center" } do %>
      <!-- Case study listings -->
      <%= component "projects_list", locals: { projects: data.work.projects[0...data.work.featured_projects] } %>

      <%# this button appears when there"s more than 3 case studies to display %>
      <%= component "button_link", locals: {
        label: "See more of our work",
        url: "/work",
        classes: "margin-top-wide",
        icon: "arrow-right"
      } if (data.work.projects.length > data.work.featured_projects) %>
    <% end %>
  <% end %>
</div>
