<%
  # Consulting project page
  # -> a proxy page used by data/work.yml for content in source/work
%>

<%= component "main_header" %>

<article>

  <!-- Cover image, and title -->
  <% component 'panel', locals: {
    el: 'header',
    border: 'none',
    padding: {
      x: 'outside',
      top: 'wide',
      bottom: 'none'
    }
  } do %>
    <% component 'wrapper', locals: { width: 'wide', classes: 't-align-center' } do %>

      <h1 class="t-font-display t-leading-xtight padding-bottom-narrow"><%= project.title.long %></h1>
      <p class="t-scale-delta padding-bottom-xnarrow"><%= project.client %></p>
      <p class="t-scale-epsilon no-margin">
        <time class="c-text-secondary">
          <%= project.date.respond_to?(:start) ? "#{project.date.start} - #{project.date.end}" : project.date %>
        </time>
      </p>

      <%# project cover image %>
      <%= component 'feature_image', locals: {
        source: project.cover.full_size.source,
        sizes: project.cover.full_size.sizes,
        alt: (project.cover.full_size.alt || project.title.short),
        borders: (project.cover.full_size.borders || false),
        screenshot: (project.cover.full_size.screenshot || false),
        padding: { top: 'wide' },
        width: project.cover.full_size.width || 'wide'
      } %>
    <% end %>
  <% end %>

  <!-- Main content: sections -->
  <main class="z-top" id="main_content">
    <% sections = sitemap.resources.select {|r| r.data.project == project.slug || r.data.project == project.title.short }.sort_by {|r| r.data.weight } %>
    <% sections.each_with_index do |section, index| %>
      <% component 'panel', locals: { border: (index == 0 ? 'none' : 'top') } do %>
        <% unless section.data.title == 'Index' || section.data.title == 'Overview' %>
          <h1 class="t-heading t-scale-beta t-align-center padding-bottom-wide"><%= section.data.title %></h1>
        <% end %>
        <% component 'wrapper', locals: { width: 'narrow' } do %>
          <div class="t-content">
            <%= section.render layout: false %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </main>
</article>

<!-- Case studies local nav -->
<% if data.work.projects.length > 1 %>
  <% component 'panel', locals: { theme: 'dark', painted: true } do %>
    <%# temporarily use local styles to keep single thumb from being huge %>
    <% component 'wrapper', locals: { width: 'wide' } do %>
      <h1 class="t-scale-beta padding-bottom-wide t-align-center"><%= data.work.headline.nav %></h1>
      <%= component 'projects_list', locals: {
        projects: data.work.projects,
        exclude: project.slug,
        color: 'white'
      } %>
    <% end %>
  <% end %>
<% end %>
